:root {
    --general-text: #000;
    --general-bg: #fff;
    --accent-color: #dce5e2;
    --accent-family: "Inter", sans-serif;
}

body {
    font-family: var(--accent-family);
    second-family: "Readex Pro", sans-serif;
    line-height: 1.2;
    color: var(--general-text);
    background: var(--general-bg);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.main__carde-one {
    padding: 0 0 72px 0;
}

.container {
    max-width: 1295px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-transform: capitalize;
    color: #000;
}

/*=====================================================================================================*/

.header__top {
    padding: 31px 0 32px;
}

.header__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    gap: 10px;
}

.nav__item-1 {
    margin-right: 33px;
}


.nav__img {}

.nav__item-3 {
    margin: 0 44px 0 34px;
}

.icons__search {
    margin-right: 13px;
    background: transparent;

}

.icons__cart {
    background: transparent;
}

.nav__link {}

.cart {}

.cart__image {}

.cart__num {}

.cap {
    padding: 28px 73px 0;
    margin-bottom: 75px;

}

.cap__slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #DCE5E2;
    width: 1310px;
    height: 550px;
    border-radius: 25px;

}

.cap__content {
    margin-left: 56px;
}

.cap__title {

    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 58px;
    line-height: 1.2;
    color: var(--general-text);
    margin-bottom: 19px;


}

.cap__text {
    margin-bottom: 30px;
}

.cap__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 200px;
    width: 170px;
    height: 50px;
}

.cap__button:hover {
    background: #ffffff;
}


.swiper-button-next {
    position: relative;
    left: 97%;
    top: -290px;
    color: #000;
}



.swiper-button-prev {
    position: relative;
    top: -270px;
    color: #000;

}


.cap__pagination {
    position: relative;
}


.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 50px;
    top: auto;
    left: 0;
    width: 100%;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 4px;
    border-radius: 0px;
}

.swiper-pagination-bullet {
    width: 194px;
    height: 2px;
    background: #000;
}

/* =========================================================================================== */

.offers {}

.container {}

.offers__inner {}

.offers__info {}

.offers__title {
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 42px;

    line-height: 125%;
    text-align: center;
    color: #000;
}


.offers__text {
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #000;

}



/* ================================================================================================== */

.carde-one {
    margin-top: 56px;
}


.carde-1__item {
    display: flex;
    margin-left: -1%;
}


.block-1 {}


.gallery-1__content {
    position: relative;
    width: 639px;
    height: 472px;
    box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
    margin-bottom: 72px;
}

.gallery__img-1 {
    position: absolute;
    width: 500px;
    height: 467px;
    right: 15%;
    top: -10%;
}

.gallery__title-one {
    position: absolute;
    top: 80%;
    width: 555px;
    height: 95px;
    text-align: right;
}

.gallery__title-2,
.gallery__title-3 {
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    text-align: right;
    color: #000;
}



.gallery-2__content {
    position: relative;
    width: 639px;
    height: 270px;
    box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.gallery__img-4 {
    position: absolute;
    width: 500px;
    height: 467px;
    right: 38%;
    top: -88%;
}

.gallery__title-two {
    position: absolute;
    right: 14%;
    top: 35%;
    width: 174px;
    height: 95px;
    text-align: right;
}

.gallery__title-5,
.gallery__title-6 {
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    text-align: right;
    color: #000;
}







.block-2 {
    display: flex;
}


.gallery-3__content {
    position: relative;
    width: 312px;
    height: 792px;
    box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
    margin-right: 16px;
    margin-left: 16px;
}

.gallery__img-2 {
    position: absolute;
    width: 405px;
    height: 367px;
    right: -104px;
    bottom: 280px;
}

.gallery__title-three {
    position: absolute;
    top: 70%;
    width: 311px;
    height: 95px;
    text-align: center;

}

.gallery__title-8,
.gallery__title-9 {
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: #000;
}




.gallery-4__content {
    position: relative;
    width: 312px;
    height: 792px;
    box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;

}

.gallery__img-3 {
    position: absolute;
    width: 405px;
    height: 367px;
    right: -104px;
    bottom: 100px;
}


.gallery__title-four {
    position: absolute;
    top: 14%;
    width: 311px;
    height: 95px;
    text-align: center;

}


.gallery__title-11,
.gallery__title-12 {
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: #000;
}



.gallery__img-3 {
    width: 467px;
    height: 425px;
}

.gallery__img-4 {
    width: 381px;
    height: 689px;
}



/* ============================================================================= */


.goods {
    margin-bottom: 75px;
}





.offers__container {
    display: flex;
    max-width: 1294px;
    justify-content: center;
    align-items: center;
    gap: 28px;
}



.link-one {
    position: relative;
    width: 302px;
    height: 396px;
}
.link-one:hover {
    position: relative;
    width: 302px;
    height: 396px;
    background: #F5F5F5;
}

.carde-one__item {
    width: 302px;
    height: 396px;
}



.carde-1__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    width: 189px;
    height: 135px;
}

.carde-1__title {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 89px;
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 125%;
    color: #000;

}

.carde-1__text {
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #4b4b4b;
    margin-bottom: 46px;
    margin-right: 41px;


}

.carde-1__price {
    position: absolute;
    left: 0;
    bottom: 0;
}

.link-two {
    position: relative;
    width: 302px;
    height: 396px;
}
.link-two:hover{
    position: relative;
    width: 302px;
    height: 396px;
    background: #F5F5F5;
}



.carde-two__item {
    width: 302px;
    height: 396px;
}

.carde-2__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 137px;
    height: 214px;
}

.carde-2__title {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 89px;
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 125%;
    color: #000;
}

.carde-2__text {
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #4b4b4b;
    margin-bottom: 46px;
    margin-right: 41px;
}

.carde-2__price {
    position: absolute;
    left: 0;
    bottom: 0;
}

.link-three {
    position: relative;
    width: 302px;
    height: 396px;
}
.link-three:hover{
    position: relative;
    width: 302px;
    height: 396px;
    background: #F5F5F5;
}

.carde-three__item {
    width: 302px;
    height: 396px;
}

.carde-3__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    width: 189px;
    height: 135px;
}

.carde-3__title {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 89px;
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 125%;
    color: #000;
}

.carde-3__text {
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #4b4b4b;
    margin-bottom: 46px;
    margin-right: 41px;
}

.carde-3__price {
    position: absolute;
    left: 0;
    bottom: 0;
}

.link-four {
    position: relative;
    width: 302px;
    height: 396px;
}
.link-four:hover{
    position: relative;
    width: 302px;
    height: 396px;
    background: #F5F5F5;
}

.carde-four__item {
    width: 302px;
    height: 396px;
}

.carde-4__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 135px;
    height: 214px;
}

.carde-4__title {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 89px;
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 125%;
    color: #000;
}

.carde-4__text {
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #4b4b4b;
    margin-bottom: 46px;
    margin-right: 41px;
}

.carde-4__price {
    position: absolute;
    left: 0;
    bottom: 0;
}


/* ================================================================================================== */




.theBest {
    margin-bottom: 48px;
}

.offers-three {
    margin-bottom: 56px;
}

.offers-three__title-1 {
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 42px;

    line-height: 125%;
    text-align: center;
    color: #000;
}

.offers-three__text-1 {
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #000;
}

.offers-three__items {
    display: flex;
    width: 1294px;
    height: 453px;
    gap: 27px;
}

.carde-five__item {
    width: 413px;
    height: 453px;
    background: #F5F5F5;
}

.carde-five__text-2 {
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 129%;
    text-align: center;
    color: #000;
    margin-top: 41px;
}

.carde-five__title-2 {
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 28px;
    line-height: 125%;
    text-align: center;
    color: #000;
}

.carde-five__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 200px;
    width: 190px;
    height: 50px;
    margin-left: 111px;
    margin-top: 30px;
}

.carde-five__button:hover {
    background: #ffffff;
}

.img__best-1 {
    width: 231px;
    margin-left: 77px;
    margin-top: 30px;
}



.carde-six__item {
    width: 413px;
    height: 453px;
    background: #F5F5F5;
}

.carde-six__text-2 {
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 129%;
    text-align: center;
    color: #000;
    margin-top: 41px;
}

.carde-six__title-2 {
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 28px;
    line-height: 125%;
    text-align: center;
    color: #000;
}

.carde-six__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 200px;
    width: 190px;
    height: 50px;
    margin-left: 111px;
    margin-top: 30px;
}

.carde-six__button:hover {
    background: #ffffff;
}

.img__best-2 {
    width: 294px;
    margin-top: 30px;
    margin-left: 59px;
    margin-right: 60px;
}


.carde-seven__item {
    width: 413px;
    height: 453px;
    background: #F5F5F5;
}

.carde-seven__text-2 {
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 129%;
    text-align: center;
    color: #000;
    margin-top: 41px;
}

.carde-seven__title-2 {
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 28px;
    line-height: 125%;
    text-align: center;
    color: #000;
}

.carde-seven__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 200px;
    width: 190px;
    height: 50px;
    margin-left: 111px;
    margin-top: 30px;
}

.carde-seven__button:hover {
    background: #ffffff;
}

.img__best-3 {
    width: 355px;
    margin-top: 30px;
    margin-left: 29px;
    margin-right: 29px;
}

/* ======================================================================================================== */

.ideas {}

.offers-four {}



.offers-two__title {
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 42px;

    line-height: 125%;
    text-align: center;
    color: #000;
}


.offers-two__text {
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 129%;
    text-align: center;
    color: #000;

}


.offers-four__items {
    display: flex;
    margin-top: 56px;
    gap: 35px;
}

.img__ideas {
    border-radius: 16px;
    width: 620px;
    height: 420px;
}

.text__ideas {
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    color: #000;
    width: 639px;

}

.text__1 {
    margin-bottom: 23px;
}

.text__2 {
    margin-bottom: 23px;
}

.text__3 {
    margin-bottom: 23px;
}

.See {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text__4 {
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    text-transform: capitalize;
    color: #000;
    margin-top: 74px;
    margin-bottom: 75px;
}

.nav-1 {
    margin-top: -104px;
    margin-left: 75px;
}




.search {}

.search__section {}

.search__title {
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 42px;
    line-height: 125%;
    text-align: center;
    color: #000;
}

.search__button {
    border: 1px solid #c5c5c5;
    border-radius: 100px;
    width: 650px;
    height: 60px;
    display: flex;
    align-items: center;
    background: #f8f9fa;

}

.search__btn {
    width: 650px;
    height: 12px;
    display: flex;
    align-items: center;
    background: #f8f9fa;

}

.search__form {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 17px;
    
}

.search__img {
    margin-right: 20px;
    margin-left: 17px;
}

.buttons {}

.list__button-10 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-bottom: 7px;
}


.list__button-0 {
    display: flex;
    justify-content: center;
    gap: 7px;
    margin-bottom: 70px;
}

.list__button-1 {
    border: 1px solid #c5c5c5;
    border-radius: 200px;
    width: 90px;
    height: 42px;
    text-align: center;
    line-height: 2.5;
}

.list__button-2 {
    border: 1px solid #c5c5c5;
    border-radius: 200px;
    width: 98px;
    height: 42px;
    text-align: center;
    line-height: 2.5;
}

.list__button-3 {
    border: 1px solid #c5c5c5;
    border-radius: 200px;
    width: 68px;
    height: 42px;
    text-align: center;
    line-height: 2.5;
}

.list__button-4 {
    border: 1px solid #c5c5c5;
    border-radius: 200px;
    width: 142px;
    height: 42px;
    text-align: center;
    line-height: 2.5;
}

.list__button-5 {
    border: 1px solid #c5c5c5;
    border-radius: 200px;
    width: 109px;
    height: 42px;
    text-align: center;
    line-height: 2.5;
}

.list__button-6 {
    border: 1px solid #c5c5c5;
    border-radius: 200px;
    width: 118px;
    height: 42px;
    text-align: center;
    line-height: 2.5;
}

.list__button-7 {
    border: 1px solid #c5c5c5;
    border-radius: 200px;
    width: 109px;
    height: 42px;
    text-align: center;
    line-height: 2.5;
}

.list__button-8 {
    border: 1px solid #c5c5c5;
    border-radius: 200px;
    width: 91px;
    height: 42px;
    text-align: center;
    line-height: 2.5;
}

.list__button-9 {
    border: 1px solid #c5c5c5;
    border-radius: 200px;
    width: 89px;
    height: 42px;
    text-align: center;
    line-height: 2.5;
}

.contact__body {
    width: 935px;
    height: 450px;
    background: #DCE5E2;
    border-radius: 16px;
    margin-left: 164px;
}

.info__top {
    padding: 1px;
}

.info__title {
    text-align: center;
    margin-top: 47px;
    margin-bottom: 9px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 42px;
    line-height: 125%;
    text-align: center;
    color: #000;
}

.info__text {
    text-align: center;
    margin-bottom: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #000;
}

.img__body {
    width: 233px;
    height: 200px;
    margin-left: 351px;

}

.buttons-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__input {
    border: 1px solid #000;
    border-radius: 54px 0 0 54px;
    width: 285px;
    height: 50px;
    padding-left: 32px;
}

.contact__input {
    border-radius: 0 200px 200px 0;
    width: 115px;
    height: 50px;
    background: #000;
    color: aliceblue;
    padding-left: 26px;
    padding-top: 13px;
}

.footer {
    width: auto;
    height: 378px;
    background: #f8f9fa;
    margin-top: 19px;



}

.container {}

.footer__section {}

.footer__items {}

.footer__grid {
    display: grid;
    grid-template-columns: 330px 197px 197px 197px 197px;
    grid-template-rows: 191px;
    padding: 29px 73px 80px 73px;
    grid-gap: 28px;
}



.footer__logo {}

.footer__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000;
}

.footer__img {
    margin-top: 10px;
    margin-bottom: 18px;
}



.grid__col-title {
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 125%;
    color: #000;
    margin-bottom: 20px;
}

.grid__col-item {
    font-family: var(--accent-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 127%;
    color: #000;
    margin-bottom: 15px;
}



.line-1 {
    width: 100%;
    height: 1px;
    background: #dce5e2;
}

.line-2 {

    width: 1350px;
    height: 1px;
    background: #dce5e2;
    margin-left: -3%;
}

.footer__bottom {}

.info-left {
    display: flex;
    position: relative;
    top: 20px;
}

.info-right {
    display: flex;
    justify-content: flex-end;
}

/* ==================================================================================================== */

@media (max-width: 1300px) {

    .block-1 {
        position: relative;
        right: -15%;
    }

    .gallery-1__content {
        position: relative;
        width: 460px;
        height: 472px;
        box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
        overflow: hidden;
        margin-bottom: 72px;
    }

    .gallery-2__content {
        position: relative;
        width: 462px;
        height: 270px;
        box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
        overflow: hidden;
    }

    .gallery__title-one {
        position: absolute;
        top: 80%;
        width: 555px;
        height: 95px;
        text-align: center;
    }

    .gallery__title-2,
    .gallery__title-3 {
        font-family: var(--accent-family);
        font-weight: 400;
        font-size: 32px;
        line-height: 120%;
        text-align: center;
        color: #000;
    }

    .block-2 {
        display: flex;
        max-width: 35%;
        position: relative;
        right: -15%;
    }

    .gallery__title-three {
        position: absolute;
        top: 70%;
        width: 311px;
        height: 95px;
        text-align: center;
        max-width: 98%;
    }

    .gallery__title-four {
        position: absolute;
        top: 14%;
        width: 311px;
        height: 95px;
        text-align: center;
        max-width: 98%;
    }


    .offers__container {
        display: grid;
        grid-template-columns: 48% 31%;
        max-width: 1294px;
        gap: 0px;
    }

    .carde-one__item {
        margin: 0 auto;
        width: 302px;
        height: 396px;
    }

    .carde-two__item {
        margin: 0 auto;
        width: 302px;
        height: 396px;
    }

    .carde-three__item {
        margin: 0 auto;
        width: 302px;
        height: 396px;
    }

    .carde-four__item {
        margin: 0 auto;
        width: 302px;
        height: 396px;
    }

    .offers-three__items {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 27px;
        width: auto;
        height: auto;
    }

    .contact__body {
        width: 935px;
        height: 450px;
        background: #DCE5E2;
        border-radius: 16px;
        margin-left: 0;
    }


    .footer__grid {
        justify-content: space-between;
        grid-template: repeat(2, auto) / repeat(5, auto);
    }




}


@media (max-width: 1200px) {
    .swiper-pagination-bullet {
        width: 100px;
        height: 2px;
        background: #000;
    }

    .cap__title {
        font-family: var(--accent-family);
        font-weight: 400;
        font-size: 44px;
        line-height: 1.2;
        color: var(--general-text);
        margin-bottom: 19px;
    }

}


@media (max-width: 1000px) {

    .cap__content {
        margin-left: 2px;
    }


    .cap__img {
        display: none;
    }

    .cap__title {
        text-align: center;
    }

    .cap__text {
        text-align: center;
    }

    .cap__button {
        margin: 0 auto;
    }



    .swiper-button-next {
        position: relative;
        left: 90%;
        top: -132px;
        color: #000;

    }

    .swiper-button-prev {
        position: relative;
        top: -109px;
        color: #000;
    }

    .gallery-1__content {
        position: relative;
        width: 316px;
        height: 472px;
        box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
        overflow: hidden;
        margin-bottom: 72px;
    }


    .gallery-2__content {
        position: relative;
        width: 316px;
        height: 270px;
        box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
        overflow: hidden;
    }

    .gallery__img-1 {
        position: absolute;
        width: 500px;
        height: 467px;
        right: 15%;
        top: -23%;
    }

    .gallery__title-one {
        position: absolute;
        top: 80%;
        width: 555px;
        height: 95px;
        text-align: left;
    }

    .gallery__title-2,
    .gallery__title-3 {
        font-family: var(--accent-family);
        font-weight: 400;
        font-size: 32px;
        line-height: 120%;
        text-align: left;
        color: #000;
    }

    .gallery__img-4 {
        position: absolute;
        right: 51%;
        top: -88%;
    }

    .block-2 {
        display: flex;
        max-width: 35%;
        position: relative;
        right: -15%;
        flex-direction: column;
    }

    .gallery-4__content {
        position: relative;
        width: 312px;
        height: 792px;
        box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
        overflow: hidden;
        top: 16px;
        left: 16px;
    }

    .gallery-2__content {
        position: relative;
        width: 316px;
        height: 832px;
        box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
        overflow: hidden;
    }

    .gallery__img-4 {
        position: absolute;
        right: -30%;
        top: 10%;
    }


    .offers-three__items {
        grid-template: none;
        justify-self: center;
        gap: 27px;
        width: auto;
        height: auto;
    }

    .contact__body {
        width: 935px;
        height: 450px;
        background: none;

        border-radius: 16px;
        margin-left: 0;
    }

    .footer__grid {
        justify-content: center;
        grid-template: none;
        text-align: center;
        gap: 0;

    }

    .footer {
        width: auto;
        height: auto;
        background: #f8f9fa;
        margin-top: 19px;
    }

    .grid__col {
        margin-bottom: 20px;
    }

    .grid__col-title {
        margin-bottom: 10px;
    }

    .grid__col-item {
        margin-bottom: 5px;
    }
}



@media (max-width: 800px) {

    .header__top-inner {
        gap: 20px;
        flex-direction: column;
    }

    .carde-1__item {
        display: flex;
        margin-left: -39%;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    .cap {
        padding: 0;
        margin-bottom: 75px;
    }

    .block-2 {
        display: flex;
        max-width: 35%;
        position: relative;
        right: -15%;
        flex-direction: column;
        align-items: center;
        margin-top: 75px;
    }

    .gallery-4__content {
        position: relative;
        width: 312px;
        height: 792px;
        box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.25);
        overflow: hidden;
        top: 75px;
        left: auto;
    }

    .offers-two__title {
        margin-top: 75px;
    }

    .offers-four__items {
        display: block;
        margin-top: 56px;
        gap: 35px;
    }


    .img__ideas {
        border-radius: 16px;
        width: 397px;
        height: 330px;
        margin-bottom: 23px;
    }

    .search__button {
    border: 1px solid #c5c5c5;
    border-radius: 100px;
    width: 584px;
    height: 50px;
    display: flex
;
    align-items: center;
    background: #f8f9fa;
}

    .contact__body {
        width: auto;
        height: auto;
        border-radius: 16px;
        margin-left: 0;
    }

    .img__body {
        width: 233px;
        height: 200px;
        margin-left: 124px;
    }

}


@media (max-width: 600px) {

    .nav__item-3 {
        margin: 0 10px 0 10px;
    }

    .nav__item-1 {
        margin-right: 10px;


    }

    .nav__list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .cap__button {
        width: 96px;
        height: 28px;
    }

    .cap__title {
        font-size: 25px;
    }

    .swiper-button-next {
        position: relative;
        left: 80%;
        top: -80px;
        color: #000;
    }

    .swiper-button-prev {
        position: relative;
        left: 10%;
        top: -58px;
        color: #000;
    }

    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        background: #000;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 4px;
        border-radius: 50px;
    }

    .offers__container {
        display: flex;
        max-width: 1294px;
        justify-content: center;
        align-items: center;
        gap: 28px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .search__button {
    border: 1px solid #c5c5c5;
    border-radius: 100px;
    width: 361px;
    height: 50px;
    display: flex
;
    align-items: center;
    background: #f8f9fa;
}

    .text__ideas {
        font-family: var(--accent-family);
        font-weight: 400;
        font-size: 24px;
        line-height: 125%;
        color: #000;
        width: auto;

    }

    .search__input {
        border: 1px solid #000;
        border-radius: 54px 0 0 54px;
        width: 148px;
        height: 31px;
        padding-left: 32px;
    }

    .contact__input {
        border-radius: 0 200px 200px 0;
        width: 88px;
        height: 31px;
        background: #000;
        color: aliceblue;
        padding-left: 19px;
        padding-top: 7px;
        font-size: 13px;
    }

    .list__button-10 {
        display: flex;
        flex-wrap: wrap;
    }

}

@media (max-width: 400px) {

    .cap__slide {

        height: 355px;
    }

    .img__ideas {
        border-radius: 16px;
        width: 277px;
        height: 264px;
        margin-bottom: 23px;
    }

    .img__body {
        width: 233px;
        height: 200px;
        margin-left: 22px;
    }

    .search__button {
    border: 1px solid #c5c5c5;
    border-radius: 100px;
    width: 263px;
    height: 50px;
    display: flex
;
    align-items: center;
    background: #f8f9fa;
}

    .list__button-0 {
        display: flex;
        justify-content: center;
        gap: 7px;
        margin-bottom: 70px;
        flex-wrap: wrap;
    }

    .info-left {
        display: flex;
        position: relative;
        top: 0px;

    }

    .info-right {
        display: flex;
        justify-content: flex-start;
    }

}