* {
    box-sizing: border-box;
}

div {
    background: #c78989;
    border: 3px solid#030000;
    border-radius: 20px 0 0 20px;
    padding: 0px 200px 0px 0px;
    display: inline-block;
    overflow: auto;
    height: 800px;
}

.block {
    background: #e6a926;
    border: 10px solid rgb(175, 117, 8);
    border-radius: 20px;
    box-shadow: inset 0px 0px 20px;
    padding: 30px;
    margin: 30px;
    width: 400px;
    height: 300px;
}
